<div
  (mouseenter)="onImageMouseEnter()"
  (mouseleave)="onImageMouseLeave()"
>
  <figure>
    <a
      [routerLink]="['/productos', product.slug]"
    >
      <app-progressive-img
        [src]="mainImage"
        [alt]="'Maceta biodegradable ' + product.name"
        radius="var(--radius-md)"
        imgClass="img-fluid w-100 h-100 object-fit-cover"
      />
    </a>

    <figcaption>
      <a [routerLink]="['/productos', product.slug]">
        <h2>{{ product.name }}</h2>
      </a>
	  
      <p>
        @if (product.diameter_cm) {
          {{ product.diameter_cm }}×
        }
        @if (product.height_cm) {
          {{ product.height_cm }}cm (h)
        }
        @if (product.volume_cc) {
          &bull; {{ product.volume_cc }}cm³
        }
      </p>

      <button type="button" (click)="goToProduct()">COMPRAR</button>
    </figcaption>
  </figure>
</div>
