<div class="product-card-wrapper h-100" [routerLink]="['/productos', product.slug]">
  <div class="product-image-box mb-3">
    <img [src]="mainImage" [alt]="product.name" class="img-fluid w-100 h-100 object-fit-cover">
  </div>
  
  <div class="product-info">
    <h3 class="product-title h6">{{ product.name }}</h3>
    
    <div class="product-prices">
      <div class="price-main fw-bold">USD ${{ currentPricing().finalPriceUsd | number:'1.2-2' }}</div>
      <div class="price-details d-flex gap-2 mt-1">
        <span class="price-usd small text-secondary">
		  {{ currentPricing().finalPriceArs | currencyArs }}
        </span>
      </div>
      <div class="iva-legend text-muted mt-1" style="font-size: 0.7rem;">IVA no incluido</div>
    </div>
  </div>

</div>
