.product-card-wrapper {
  transition: opacity 0.3s ease;
  padding: 8px;
  border-radius: var(--border-radius-base);
  color: var(--color-text-secondary);
}

.product-measure {
  font-size: 0.8rem;
}

.btn-action {
  width: 100%;
  padding: 0.6rem 1rem;
  justify-content: center;
}

.product-title {
  font-family: var(--font-body);
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  color: var(--color-text-primary);
  margin-bottom: 0.25rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.iva-legend {
  color: var(--color-text-muted);
}

.price-main {
  color: var(--color-primary);
  color: #000;
  font-size: 2em;
  padding: 0;
  margin: 0;
  font-family: "Oswald";
  font-weight: 900;
}

.price-details {
  line-height: 1;
}

.x-small {
  font-size: 0.7rem;
  letter-spacing: 0.02em;
}

@media (max-width: 768px) {
  .price-main {
    font-size: 1.5rem;
  }
}
