col:nth-child(1) {
  width: 15%;
}

col:nth-child(2) {
  width: 25%;
}

col:nth-child(3) {
  width: 20%;
}

col:nth-child(4) {
  width: 30%;
}

col:nth-child(5) {
  width: 10%;
}

td {
  padding: .4rem .2rem;
  border-bottom: 1px solid var(--color-border);
}
	td:nth-child(4), td:nth-child(5) {
	  text-align: right;
	}

	td img {
	  width: 100%;
	  aspect-ratio: 1 / 1;
	  border-radius: var(--border-radius-base);
	}

h2 {
  font-size: 1rem;
}

data {
  font-size: 1rem;
}

strong {
  font-size: 0.9rem;
}

small {
  font-size: 0.75rem;
}

button, button:hover:not(:disabled) {
	background: none;
	border: none;
	padding: 0;
}
	button, button:hover:not(:disabled) i {
		color: red;
	}

@media (max-width: 480px) {
  td {
    padding-block: 0.5rem;
  }

  h2 {
    font-size: 0.75rem;
  }

  data {
    font-size: 0.7rem;
  }

  small, strong {
    font-size: 0.6rem;
  }


  button i {
    font-size: 0.8rem;
  }
}

@media (max-width: 991.98px) {
  .container > .row {
    --bs-gutter-y: 1rem;
  }
}
