.cart-page {
  background-color: var(--color-bg);
  color: var(--color-text-secondary);
}

.cart-img-box img {
  max-width: 100px;
}

@media (max-width: 1000px) {
  .cart-page {
    margin-top: 10px;
  }
  .cart-img-box img {
    display: none;
  }
  .cart-page .item-name {
    font-size: 11px;
  }
}
