<section id="como-funciona">
  <div class="timeline-inner">
    <h2>Cómo Funciona</h2>
    <ol class="timeline">
      <li class="timeline-step">
        <div class="timeline-marker">1</div>
        <a routerLink="/productos" class="timeline-content">
          <h3>Elegí tu Maceta</h3>
          <p>
            Seleccioná el producto que mejor se adapte a lo que querés cultivar.
          </p>
        </a>
      </li>
      <li class="timeline-step">
        <div class="timeline-marker">2</div>
        <div class="timeline-content">
          <h3>Plantá Directo</h3>
          <p>Colocá la maceta entera en la tierra, sin remover la planta.</p>
        </div>
      </li>
      <li class="timeline-step">
        <div class="timeline-marker">3</div>
        <div class="timeline-content">
          <h3>Dejá que Brote</h3>
          <p>La maceta se biodegrada sola y nutre la planta mientras crece.</p>
        </div>
      </li>
    </ol>
  </div>
</section>
