:host {
  display: block;
}

section {
  display: grid;
  justify-items: center;
  align-content: center;
  width: min(100% - 2rem, 1140px);
  min-height: 100vh;
  margin: 0 auto;
  padding: 3rem 0;
  text-align: center;
}

h1 {
  font-size: calc(1.325rem + 0.9vw);
  margin-bottom: 0.5rem;
}

section > * {
  opacity: 0;
  animation: reveal-up 800ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

p {
  max-width: 600px;
  margin: 0 auto 1rem;
}

header > i {
  display: grid;
  place-items: center;
  width: 80px;
  aspect-ratio: 1;
  margin: 0 auto 1rem;
  border: 1px solid var(--color-border-primary);
  border-radius: 50%;
  background-color: var(--color-bg-secondary);
  color: var(--color-primary);
  font-size: 40px;
}
