<section>
  <div class="container">
    <h1 class="visually-hidden">
      {{ category()?.name ?? "Macetas biodegradables" }}
    </h1>
    <app-breadcrumb [items]="breadcrumbItems()" />

    <!-- Grid -->
    <ul class="row row-cols-2 row-cols-md-3 row-cols-lg-5">
      @if (loading()) {
        @for (i of [1, 2, 3, 4, 5]; track i) {
          <li class="col">
            <app-product-card-skeleton />
          </li>
        }
      } @else {
        @for (product of products(); track product.id) {
          <li class="col">
            <app-product-card [product]="product" />
          </li>
        }
      }
    </ul>

    @if (error()) {
      <p role="alert">
        {{ error() }}
      </p>
    }
  </div>
</section>
