<section id="contacto" class="d-flex align-items-center min-vh-100 contacto">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">
				<a target="_blank" href="https://www.google.com/maps/dir//Parque+Avellaneda+Portela+875+C1406FDQ+Cdad.+Aut%C3%B3noma+de+Buenos+Aires/@-34.6422199,-58.4684748,15z/data=!4m8!4m7!1m0!1m5!1m1!1s0x95bcc981fe58c5cd:0xcd7b6662e3dfa306!2m2!1d-58.4684748!2d-34.6422199?entry=ttu&g_ep=EgoyMDI1MTAyOS4yIKXMDSoASAFQAw%3D%3D">
					<img src="assets/images/icon-location-01.webp" alt="Cómo llegar" title="Cómo llegar" class="img-fluid" />
				</a>
            </div>
            <div class="col-md-4 text-center p-5 p-md-0">
                <h3 class="fw-bold mb-4">Contactanos</h3>
                <p>Portela 875, CABA</p>
                <p>+54 9 11 3022-6565</p>
                <p>info&#64;integrales.com.ar</p>
                <p>Lunes a viernes: 9 a 17 hs.</p>
				<a href="https://wa.me/5491130226565" target="_blank" class="btn btn-success fw-bolder">
					<i class="bi bi-whatsapp"></i> Enviar Mensaje
				</a>
            </div>
        </div>
    </div>
</section>
