<article class="row align-items-start">
  <app-image-gallery class="col-md-6" [loading]="true" />

  <div class="offset-md-1 col-md-4">
    <app-skeleton width="60%" height="0.6rem" />

    <header class="row">
      <div class="col">
        <app-skeleton width="80%" height="2rem" />
        <app-skeleton width="60%" height="0.75rem" />
      </div>
      <div class="col">
        <app-skeleton width="90px" height="1.75rem" />
        <app-skeleton width="70px" height="0.8rem" />
      </div>
      <div class="col-12">
        <app-skeleton width="100%" height="0.8rem" />
      </div>
    </header>

    <section>
      <app-skeleton width="30%" height="0.75rem" />
      <div>
        @for (i of [1, 2, 3, 4, 5]; track i) {
          <app-skeleton width="54px" height="2.25rem" radius="var(--radius-sm)" />
        }
      </div>
    </section>

    <section>
      <app-skeleton width="70px" height="0.75rem" />
      <div>
        <app-skeleton width="100%" height="35px" radius="var(--radius-full)" />
        <app-skeleton width="100%" height="35px" radius="var(--border-radius-base)" />
      </div>
    </section>

    <section>
      <app-skeleton width="40%" height="0.75rem" />
      <app-skeleton width="100%" height="3rem" radius="var(--radius-md)" />
    </section>

    <section>
      <app-skeleton width="35%" height="0.75rem" />
      <app-skeleton width="100%" height="4rem" radius="var(--radius-md)" />
    </section>
  </div>
</article>
