<section id="servicios" class="d-flex align-items-center min-vh-100 bg-img-3">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-xs-10 col-sm-10 col-md-8">
        <div class="row text-center servicio">
          <div class="col-md-6 p-4">
            <i class="bi bi-clock-history icono-detalle text-success"></i>
            <h5 class="mt-3">Despachos</h5>
            <p>Despachamos tu pedido dentro de 48 hs. hábiles de confirmado el pago. También podés retirar por nuestro depósito.</p>
          </div>
          <div class="col-md-6 p-4">
            <i class="bi bi-credit-card icono-detalle text-success"></i>
            <h5 class="mt-3">Medios de Pago</h5>
            <p>Efectivo, transferencia bancaria, depósito y billeteras electrónicas. Una vez realizado el pago, coordinamos el envío.</p>
          </div>
          
          <div class="col-md-6 p-4">
            <i class="bi bi-truck icono-detalle text-success"></i>
            <h5 class="mt-3">Envíos a Todo el País</h5>
            <p>Envíos a C.A.B.A. sin cargo. Resto del país mediante el transporte que elijas: micro, correo o exprés. También podés retirar personalmente o enviar a tu comisionista.</p>
          </div>
          
		  <div class="col-md-6 p-4">
			<i class="bi bi-cart-check icono-detalle text-success"></i>
			<h5 class="mt-3">Comprá Online</h5>
			<p>Realizá tu compra de forma rápida y segura desde nuestra tienda online, disponible las 24 horas, los 7 días de la semana. ¡Comprás cuando quieras y desde donde estés!</p>
		  </div>          
        </div>
      </div>
    </div>
  </div>
</section>



