.img-hover-zoom {
    transition: transform 0.3s ease-in-out;
}

.img-hover-zoom:hover {
    transform: scale(1.1);
}

.ventajas {
  background-color: #f7f8f0;
  font-family: 'Caveat', cursive;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 0.8;
}

.img-maceta {
  width: 250px;
}

.numero-circulo {
  width: 30px;
  height: 30px;
  aspect-ratio: 1/1; /* garantiza círculo perfecto */
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
}

.texto-ventaja {


}

.ventaja {
  position: relative;
  padding: 40px 40px 50px;
  background-size: 40px auto, 60px auto !important;
}

.ventaja-1 {
  background: url("/assets/images/banner/ventajas/flecha-01.png") bottom right no-repeat,
              url("/assets/images/banner/ventajas/hoja-01.png") top right no-repeat;
}

.ventaja-2 {
  background: url("/assets/images/banner/ventajas/flecha-02.png") bottom center no-repeat,
              url("/assets/images/banner/ventajas/hoja-02.png") top right no-repeat;
}

.ventaja-3 {
  background: url("/assets/images/banner/ventajas/flecha-03.png") bottom left no-repeat,
              url("/assets/images/banner/ventajas/hoja-03.png") bottom right no-repeat;
}

.ventaja-4 {
  background: url("/assets/images/banner/ventajas/flecha-04.png") top left no-repeat,
              url("/assets/images/banner/ventajas/hoja-04.png") bottom center no-repeat;
}

.ventaja-5 {
  background: url("/assets/images/banner/ventajas/flecha-05.png") top left no-repeat,
              url("/assets/images/banner/ventajas/hoja-00.png") top center no-repeat;
  padding: 0 40px;

}

.ventaja-6 {
  background: url("/assets/images/banner/ventajas/flecha-06.png") top center no-repeat,
              url("/assets/images/banner/ventajas/hoja-06.png") top left no-repeat;
}

.ventaja-7 {
  background: url("/assets/images/banner/ventajas/flecha-07.png") center right no-repeat,
              url("/assets/images/banner/ventajas/hoja-07.png") top left no-repeat;
}


@media (max-width: 768px) 
{

	.numero-circulo {
	  border: 1px solid black;
	}

	.img-maceta {
		min-width: 200px !important;
	}

	.ventaja {
		padding-left: 0;
		padding-right: 0;
		font-size: 0.9em !important;
		background-size: 20px auto, 40px auto !important;
	}

}




