<section
  id="ventajas"
  class="d-flex align-items-center justify-content-center min-vh-100 ventajas"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-9">
        <div class="row text-center">
          <!-- Bloque 1 -->
          <div class="col-4 d-flex align-items-end justify-content-end">
            <div class="ventaja ventaja-1">
              <div class="numero-circulo">1.</div>
              <div class="texto-ventaja">
                Macetas 100% biodegradables, hechas de turba, papel y cartón.
              </div>
            </div>
          </div>

          <!-- Bloque 2 -->
          <div class="col-4 d-flex align-items-start justify-content-center">
            <div class="ventaja ventaja-2">
              <div class="numero-circulo">2.</div>
              <div class="texto-ventaja">
                Mejora la fertilidad del suelo al transformarse en materia
                orgánica.
              </div>
            </div>
          </div>

          <!-- Bloque 3 -->
          <div class="col-4 d-flex align-items-end justify-content-center">
            <div class="ventaja ventaja-3">
              <div class="numero-circulo m-2">3.</div>
              <div class="texto-ventaja">No produce stress de trasplante.</div>
            </div>
          </div>

          <!-- Bloque 7 -->
          <div class="col-4 d-flex align-items-end justify-content-center">
            <div class="ventaja ventaja-7">
              <div class="numero-circulo">7.</div>
              <div class="texto-ventaja">
                Elimina la fase de adaptación luego de la plantación.
              </div>
            </div>
          </div>

          <!-- Imagen central -->
          <div class="col-4 d-flex align-items-center justify-content-center">
            <a href="productos" title="Catálogo">
              <img
                src="/assets/images/maceta-olivo.webp"
                alt="Maceta Olivo"
                class="img-maceta img-hover-zoom"
              />
            </a>
          </div>

          <!-- Bloque 4 -->
          <div class="col-4 d-flex align-items-center justify-content-center">
            <div class="ventaja ventaja-4">
              <div class="numero-circulo">4.</div>
              <div class="texto-ventaja">
                A diferencia del plástico, no se produce acumulación de
                residuos.
              </div>
            </div>
          </div>

          <!-- Bloque vacío -->
          <div class="col-4"></div>

          <!-- Bloque 6 -->
          <div class="col-4 d-flex align-items-center justify-content-center">
            <div class="ventaja ventaja-6 d-flex text-center">
              <div class="numero-circulo">6.</div>
              <div class="texto-ventaja">
                Ahorro de tiempo, costos y mano de obra.
              </div>
            </div>
          </div>

          <!-- Bloque 5 -->
          <div class="col-4 d-flex align-items-start justify-content-start">
            <div class="ventaja ventaja-5 text-start">
              <div class="numero-circulo m-2">5.</div>
              <div class="texto-ventaja">
                Genera un sistema radicular muy denso y activo.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
