<div [class]="wrapperClass">
  <h3 class="h4 mb-4 fw-bold">Otros productos</h3>
  @if (showSkeleton && loading) {
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 g-4">
      @for (i of skeletonPlaceholders; track i) {
        <div class="col">
          <app-product-card-skeleton />
        </div>
      }
    </div>
  } @else if (items.length > 0) {
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 g-4">
      @for (p of items; track p.id) {
        <div class="col">
          <app-product-card [product]="p" />
        </div>
      }
    </div>
  }
</div>
