<!-- NAV -->
<nav class="nav-bar nav-bar-vertical">
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link" href="javascript:void(0);" (click)="scrollToSection('banner-2')">
			<i class="bi bi-house"></i>
			<span class="nav-text">Home</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="javascript:void(0);" (click)="scrollToSection('ventajas')">
			<i class="bi bi-info-circle"></i>
			<span class="nav-text">Ventajas</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="javascript:void(0);" (click)="scrollToSection('servicios')">
			<i class="bi bi-truck"></i>
			<span class="nav-text">Envíos</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="javascript:void(0);" (click)="scrollToSection('contacto')">
				<i class="bi bi-whatsapp"></i>
				<span class="nav-text">Contacto</span>
			</a>
		</li>		
		<li class="nav-item">
			<a routerLink="/catalogo" class="nav-link">
				<i class="fa fa-shopping-cart"></i>
				<span class="nav-text">Tienda</span>
			</a>
		</li>
	</ul>
</nav>
